DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=getshelf
DB_PASSWORD=getshelf
DB_NAME=getshelf
DB_SSLMODE=disable

HTTP_HOST=0.0.0.0
HTTP_PORT=8080
SWAGGER_PORT=8081

REDIS_HOST=redis
REDIS_PORT=6379

JWT_SECRET=change-me-in-production
JWT_ACCESS_TTL_MINUTES=15
JWT_REFRESH_TTL_HOURS=24